@import url("common.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');
/*font-family: 'Montserrat', sans-serif;*/
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
/*font-family: 'NanumSquare', sans-serif;*/

.no-drag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}


.intro{
    width: 100%;
    height: 100vh;
    background: #333;
    position: fixed;
    left: 0; top: 0;
    z-index: 10;
    
}
.text{
    width: 25%;
    margin: 0 auto;
    padding: 20% 0;
}
.intro .text span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 2.8rem;
    padding: 0 5%;
    margin-top: 1%;
}
.intro .text .first{
    background: #f8b6b6;
    margin-left: 18%;
    animation: first 5s 1s linear forwards;
}
.intro .text .second{
    background: #b6d0f8;
    margin-left: 40%;
    animation: second 5s 1s linear forwards;
}
.intro .text .third{
    background: #98dc9d;
    animation: third 5s 1s linear forwards;
}
.intro .text .fourth{
    background: #fbed8e;
    margin-left: 32.6%;
    animation: fourth 5s 1s linear forwards;
}
.intro .text .fifth{
    background: #fad07e;
    margin-left: 55%;
    animation: fifth 5s 1s linear forwards;
}

@keyframes first{
    0%{transform: rotate(0deg);}
    9%{transform: rotate(0deg);}
    10%{transform: rotate(7deg);}
    100%{transform: rotate(7deg);}
}
@keyframes second{
    0%{transform: rotate(0deg);}
    14%{transform: rotate(0deg);}
    15%{transform: rotate(-2deg);}
    100%{transform: rotate(-2deg);}
}
@keyframes third{
    0%{transform: rotate(0deg);}
    19%{transform: rotate(0deg);}
    20%{transform: rotate(3deg);}
    100%{transform: rotate(3deg);}
}
@keyframes fourth{
    0%{transform: rotate(0deg);}
    24%{transform: rotate(0deg);}
    25%{transform: rotate(-2deg);}
    100%{transform: rotate(-2deg);}
}
@keyframes fifth{
    0%{transform: rotate(0deg);}
    29%{transform: rotate(0deg);}
    30%{transform: rotate(2deg);}
    100%{transform: rotate(2deg);}
}


.wrap{
    width: 100%;
    height: 100vh;
    background: #fecece;
    background-image: linear-gradient(rgba(255,255,255,.4) 1px, transparent 1px), linear-gradient(90deg, rgba(255,255,255,.4) 1px, transparent 1px);
    background-size: 25px 25px, 25px 25px, 2px 2px;
    overflow: hidden;
    position: relative;
}


.header{
    width: 85%;
    margin: 0 auto;
    margin-top: 3%;
}

.photo_frame{
    width: 200px;
    box-sizing: content-box;
    position: relative;
    padding-top:50px;
    left: 0%; top: 0%;
    transform-origin: 50% top;
    animation: frame 4s linear infinite;
    cursor: pointer;
}
.photo_frame::before{
    content: '';
    display: block;
    position: absolute;
    width: 15px; height: 15px;
    left: 50%; top: 0px;
    transform: translateX(-50%);
    z-index: 5;
    border-radius: 50% 50%;
    border: 2px solid #333;
    background: #fff;
}
.photo_frame::after{
    content: '';
    position: absolute;  
    width: 60px; height: 60px;  
    border: 2px solid #333;
    left: 68px; top: 15px; 
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
.photo_frame > p{
    width: 85%;
    text-align: center;
    margin-left: 5%;
    margin-top: 5%;
}
.photo_frame > p img{
    width: 100%;
}
.photo_frame .frame{
    position: absolute;
    width: 100%;
    /*left: 10%;*/ top: 42px;
    z-index: 5;
}
.photo_frame .frame p{
    width: 100%;
    position: absolute;
    left: 0.5; top: 0;
}
.photo_frame .frame p img{
    width: 100%;
}

.logo{
    position: absolute;
    left: 50%; top: 5%;
    transform: translateX(-50%);
    font-weight: 700;
    font-size: 3.2rem;
    font-style: italic;
    line-height: 0.9;
    color: #fff;
    -webkit-text-stroke: 2px #333;
    font-family: 'Montserrat', sans-serif;
}
.logo img{}


nav{
    width: 15%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 10%; top: 5%;
    margin-top: 20px;
}
nav a{
    position: relative;
    width: 110px;
    height: 25px;
}

nav a span{
    position: absolute;
    width: 100%; height: 100%;
    background: #fff;
    border: 2px solid #333;
    text-align: center;
    padding: 8px 0;
    font-family: 'NanumSquare', sans-serif;
    font-size: 1.3rem;
    z-index: 2;
}
nav a span:nth-of-type(2){
    width: 100%; height: 100%;
    background: #f2a4a4;
    border: 2px solid #333;
    z-index: 1;
    left: 5px; top: 5px;
}

.header nav a:hover span{
    left: 5px; top: 5px;
}
.slide{
    width: 100%;
    height: 570px;
    position: relative;
    left: 0; top: 5%;
    transform: rotate(-8deg);
}
.slide ul{
    width: 100%; height:100%;
    position: absolute;
    left: -185%; top: 0%;    
}

ul li{
    width:50%;
    height: 100%;
    position:absolute;
/*    border: 1px solid #f00*/
}

ul .arrow{
    width: 450px;
    height: 100%;
    margin: 0;
    
}
ul .arrow h3{
    position: absolute;
    left: 0; top: 53%;
    z-index: 5;
    font-size: 4.5rem;
    color: #e02456;
    -webkit-text-stroke: 1px #333;
    font-family: 'Montserrat', sans-serif;
}
ul .arrow p{
    position: relative;
    left: 65%; top: 50%;
}
ul .arrow p img{
    position: absolute;
    width: 230px;
}
ul .arrow p img:first-of-type{
    left: 1.5%; top: 10px;
}

ul .work_list{
    width: 22%;
    height: 100%;
    cursor: pointer;
}
ul .work_list .num{
    margin-left: 23%;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke: 2px #333;
}
ul .work_list .photo_box{
    position: relative;
    width: 150%;
    height: 100%;
}
ul .work_list .photo_box p{
    border: 3px solid #333;
    width: 66%;
    height: 100%;
    position: absolute;
    left: 15%;
    padding:10px;
/*    overflow: hidden;*/
}
ul .work_list .photo_box p:first-of-type{
    left: 21%; top: 40px;
}
ul .work_list .photo_box p:nth-of-type(2){
    left: 18%; top: 20px;
}
ul .work_list .photo_box .first_p{
    background: #fff;
    text-align: center;
}
ul .work_list .photo_box .first_p img{
    width:100%;
    height: 100%;
}
ul .work_list .work_name{
    width: 150%;
    position: absolute;
    top: 59%;
    transform: translateY(-50%);
    font-size: 5.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: center;
    color: #fff;
    letter-spacing: 3px;
    -webkit-text-stroke: 2px black;
}
ul .work_list small{
    width: 150%;
    position: absolute;
    left: 4%; top: 125%;
    text-align: center;
    font-family: 'NanumSquare', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}
.work1 .photo_box p:first-of-type{
    background: #f7e47e;
}
.work1 .photo_box p:nth-of-type(2){
    background: #f8efbd;
}
.work2 .photo_box p:first-of-type{
    background: #8dc6fa;
}
.work2 .photo_box p:nth-of-type(2){
    background: #c9e1f7;
}
.work3 .photo_box p:first-of-type{
    background: #9fd588;
}
.work3 .photo_box p:nth-of-type(2){
    background: #d8ead2;
}

@keyframes frame{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(15deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-15deg); 
    }
    100%{
        transform: rotate(0deg);
    }
}